@media only screen and (min-width: 768px) {
    :root {
        --darkColor: #272a31;
        --brightColor: #ec5242;
        --grayColor: #d3d3d3;
        --whiteColor: #f7f4f4;
        --whiteWhite: #ffffff;
      
      
        --mainFont: "Lato", sans-serif;
        --altFont1: "Carrois Gothic SC", sans-serif;
        --altFont2: "Fredoka One", cursive;
        --altFont3: "Hanken Grotesk", sans-serif;
      }

.desktop-banner{
        display: flex;
        align-items: right;
        justify-content: end;
        background-color: var(--darkColor);
        padding: 0;
        position: fixed;
        top: -5px;
        left: 0;
        right: 0;
        height: 45px;
        z-index: 3;
        
    }
    .desktop-banner ul{
        display: flex;
        padding: 0;
    }
    .desktop-banner ul img{
        width: 20px;
        filter: invert(1);
    }
    .desktop-banner ul li{
        list-style-type: none;
        padding: 0 10px;
        color: white;
    }
    .desktop-banner ul li a{
        color: white;
        font-weight: 600;
    }
    .mobile-nav{
        display: none;
    }
    .desktop-nav{
        left: 0;
        right: 0;
        height: 50px;
        flex-direction: row;
        top: 40px;
        background-color: #ffffff;
        justify-content: space-between;
        box-shadow: -1px 1px 2px rgb(83, 83, 83);
    }
    .desktop-nav ul{
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        justify-content: space-evenly;
    }
    .desktop-nav ul li{
        list-style-type: none;
        padding: 0 5px;
    }
    .desktop-nav ul li a{
        font-weight: 600;
        font-size: 1rem;
    }
    .desktop-nav ul li:last-child a{
        color: var(--brightColor);
        border: 3px solid var(--brightColor);
        padding: 5px;
    }
    .desktop-nav img{
        width: auto;
        height: 50px;
        margin: auto 20px;
    }
    section{
        margin: 100px;
    }
    section.main-section{
        margin: 50px auto;
        padding: 100px;
    }
    div.intro-title h1{
        font-size: 3rem;
    }
    div.intro-title h2{
        font-size: 4rem;
    }
    
    div.intro-text p{
        max-width: 800px;
    }
    section.program-section{
        width: 100%;
        max-width: 2100px;
        align-items: center;
        margin: -50px auto auto;
    }
    section.program-section ul{
        flex-direction: row;
        gap: 10px;
        align-items: stretch;
        margin-right: 30px;
        justify-content: center;

    }
    section.program-section ul li{
        flex-direction: column;
        width: 15%;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
        font-size: 0.7rem;
        gap: 0px;

    }
    section.program-section ul li *{
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
    }
    section.program-section ul li img{
        width:50%;
        padding: 0;
        margin: 0;
    } 
    section.program-section ul li h4{
        font-size: 15px;
        width: auto;
        margin: auto;
        padding: 0;
        
    }
    section.program-section ul li p{
        width: auto;
        font-size: 0.7rem;
    }
    .more-button{
        display: none;
    }
    section.speakers-section{
        max-width: 900px;
        margin: auto;
    }
    section.speakers-section ul{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
    section.speakers-section ul{
        display: grid;
        grid-template-columns: auto auto;
    }
    section.speakers-section ul li div img{
        width: 60px;
        height: 60px;
    }
    section.speakers-section ul li div.speaker-details p{
        font-size: 0.8rem;
        margin-top: 10px;
     }
     
     section.partner-section img{
        width: 180px;
        padding: auto 20px;
    
    }
    section.display-section{
        margin: 0;
        border-bottom: 1px solid var(--grayColor);

    }
    section.past-events {
        margin: 0;
    }
    section.past-events div{
        display: flex;
    }
}